:root {
  --bb-yellow: #eeb900;
  --bb-dark: #222222;
  --bb-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bb-yellow);
  color: var(--bb-white);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
